<div class="container">
  <h1>Eat-Da-Burger!</h1>
  <img src="../public/assets/img/burger.png" alt="burger">

  <hr>
  <div class="row">
    <div class="col-sm">
      <h2>I am hungry for</h2>
  <hr>
      <ul>
        {{#each burgers}}
        <p>{{this.burger_name}}</p>
        <button>Devour It!</button>
        {{/each}}
      </ul>
    </div>
    <div class="col-sm">
      <h2>Add a Burger</h2>
  <hr>
      <form class="create-form" action="/api/burgers" method="post">
        <div class="form-group">
          <label for="ca">Burger Name</label><br>
          <input type="text" id="ca" name="name"><br><br>
          <button type="submit">Add This Burger</button>
        </div>
      </form>
    </div>
    <div class="col-sm">
      <h2>I am finished eating </h2>
  <hr>
    </div>
  </div>
</div>